.mini-preview {
    width: 20%;
    padding: 1rem;

    .preview-inner {
        
        border: $border;
    }
    a, a:visited {
        color: initial;
        text-decoration: none;
    }

    .preview-img {
        background: #000;
        width: 100%;
        height: 10vw;
        margin-bottom: 0.75rem;
        
        @media screen and (max-width: $mediumLayout) {
            height: 8vw;
        }
        @media screen and (max-width: $smallLayout) {
            height: 7vw;
        }
        @media screen and (max-width: $mobileLayout) {
            height: 6vw;
        }
        &:hover img {
            opacity: 0.7;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 1;
            transition: .2s;
        }

    }

    h6 {
        padding: 0rem 0.5rem 1rem;
        font-size: 0.875rem;
        color: $titleColor;
        font-weight: normal;
        line-height: 1rem;
        height: 2rem;
        margin: 0 0 0.75rem;
        overflow: hidden;
        transition: .15s;


        &:hover {
            color: $greenColor;
        }
    }
}