.gig-edit {
    margin-top: 20px;
    form {
        margin: 0 auto;
        width: 80vw;
        h4 {
            color: $titleColor;
            margin: 5px 0 5px;
        }

        .gig-basics, .gig-package, .gig-edit-images {
            border: 2px solid $greenColor;
            border-radius: 5px;
            padding: 1rem;
            margin-bottom: 1.5rem;
        }

        .package-features, .gig-tags {

            ul {
                margin-inline-start: 20px;
            }
            li {
                position: relative;
                border: $border;
                color: $darkColor;
                font-size: 0.8rem;
                padding: 5px 8px;
                border-radius: 0.55em;
                margin-inline-end: 10px;
                margin-bottom: 20px;
                align-self: baseline;

                .clear-icon {
                    position: absolute;
                    top: -5px;
                    font-size: 1rem;
                }
            }
        }

        .package-details {
            background-color: $borderColor;
            padding: 1rem;

            h4 {
                margin-bottom: 2rem;
            }
            label, input {
                font-size: 0.875rem;
                margin-inline-end: 0.5rem;
                max-width: 7rem;
            }
        }
        .gig-edit-images {

            h4 {
                align-self: center;
                margin-inline-start: 20px;
            }

            .img-upload {
                position: relative;
                display: block;
                margin: 20px 0 ;
                width: 12vw;
                height: 12vw;
                border: 2px solid $borderColor;
                overflow: hidden;
                
                &:hover .camera-icon {
                    opacity: 1;
                }
                .camera-icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: $darkColor;
                    opacity: 0.5;
                    
                    transition: .3s;
                }
            }

            ul {
                
                gap: 20px;
                flex-wrap: wrap;
                li {
                    position: relative;
                    background: rgb(0, 0, 0);
                    width: 12vw;
                    height: 12vw;
                    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        opacity: 1;
                        transition: .3s;
                    }

                    .clear-icon {
                        position: absolute;
                        top: 5%;
                        right: 5%;
                        color: $lightColor;
                        opacity: 0;
                
                        transition: .3s;
                    }
        
                    &:hover img {
                        opacity: 0.75;
                    }
                    &:hover .clear-icon {
                        opacity: 1;
                    }
                }
 
            }
        }

    }
    textarea,
    select,
    input {
        padding: 10px;
        margin-bottom: 20px;
        max-width: 600px;
        border: 1px solid $greenColor;
        border-radius: 3px;
    }
    textarea {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        outline: none;
        resize: none;
    }
    input,
    select {
        margin-bottom: 20px;
        width: 25vw;
    }

    .gig-save {
        width: 150px;
        @include defButton();
        margin: 0rem 0 1rem 10%;
    }

}
