.main-screen {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    opacity: 1;
    visibility: visible;

    transition: opacity .8s;

    .login {
        z-index: 3;
        position: fixed;
        cursor: default;
        top: 50%;
        left: 50%;
        width: 30vw;
        min-width: 280px;
        max-width: 360px;
        transform: translate(-50%, -50%);
        background-color: #fff;
        color: $darkColor;
        text-align: center;

        transition: 1s;

        h1 {
            font-size: 1.6em;
            margin: 30px;
        }

        p {
            position: absolute;
            bottom: 160px;
            width: 90%;
            left: 5%;
            text-align: left;
            font-size: 0.8em;
        }

        input, button {
            width: 90%;
            height: 2em;
            margin-bottom: 1.5em;
            font-size: 1em;
        }
        
        input {
            padding: 10px;
        }

        button {
            @include defButton;
        }
        
        h4 {
            font-weight: normal;

            span {
                font-weight: bold;
                color: $boldColor;
                cursor: pointer;
                &:hover {
                    color: darken($boldColor, 10);
                }
    
            }
        }
    }

}