.seller-overview {
    display: flex;
    align-items: center;
    padding-block-end: rem(24px);
    min-width: rem(400px);
    > * {
        // padding-inline-end:1rem ;
        margin-inline-end: 0.3rem;
    }
    .owner-fullname {
        font-weight: bold;
        font: 400 16px/24px "Macan", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
    }

    .order-count {
        color: rgb(192, 192, 192);
    }
    .avatar {
        width: rem(32px);
        height: rem(32px);
    }
    .info {
        padding-inline-start: rem(5px);
        .owner-fullname {
            padding-inline-end: rem(5px);
        }
        .space {
            padding-inline-start: rem(5px);
        }
    }
    .seller-stars-container {
        display: flex;
        align-items: center;
        svg,span {
            color: #ffbf00;
            font-weight: 700;
            margin-inline-start: rem(2px);
        }
        span{
            margin-inline-start: rem(5px);

        }
    }
    
}