.gig-strip {

    position: relative;
    overflow: hidden;
    // background-color: #eeeeee;

    .strip-title {
        font-size: 2rem;
        margin: 0.75rem 0 0;
        padding-inline-start: 1rem;
        color: $greenColor;
    }
    ul {
        display: flex;
        
        transition: .8s ease-out;
        li {
            flex: 0 0 25%;
        }
    }

    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #fff;
        width: 5vw;
        height: 5vw;
        color: $darkColor;
        border: $border;
        border-radius: 50%;
        font-weight: bold;
        font-size: 1.5rem;

        &:hover {
            background-color: $borderColor;
        }
    }

    .scroll-right {
        right: 0%;
    }

    
}