.gig-details {
    font: 400 16px/24px "Macan", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: grid;
    grid-template-columns: 8fr 2fr;
    color: $darkColor;
    padding: 1rem;
    .main-details {
        margin-right: 20px;
        width: 80%;
        display: flex;
        flex-direction: column;
        > * {
            width: 100%;
            outline: none;
        }
        h1 {
            text-align: left;
            font-size: 28px;
            line-height: 130%;
        }
    }
    ::selection {
        background: $altColor;
    }
}

.desc {
    margin-block-start: 1rem;
    h4 {
        display: flex;
        flex-wrap: wrap;
    }
}

.short-review-header {
    margin-block-start: 3.5rem;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 25px;
}

.seller-stars-container {
    .seller-star {
        color: $starsColor;
        font-size: 2rem;
    }
    div {
        align-self: center;
        margin-block-start: 7.5px;
    }
}

.cut-text {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 42rem;
    white-space: nowrap;
}

.text-with-dots {
    display: block;
    max-width: 98%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.short-review-main {
    position: relative;
    // width: 750px;
    overflow: hidden;
    .slide{
        max-width: rem(750px);
    }
    .slide-left-review {
        position: absolute;
        left: -8px;
        top: 50%;
    }
    .slide-right-review {
        position: absolute;
        right: -7.8px;
        top: 50%;
    }
    .slide {
        max-width: 35.9rem;
        transition: ease 0.8s;
        .short-review {
            position: relative;
            h5 {
                margin: 0;
                margin-inline-end: 0.5rem;
            }
            .avatar-container {
                margin-block-start: 1rem;
                margin-inline-end: 0.7rem;
            }
            span {
                margin-block-end: 1rem;
            }
        }
    }
}

.add-remove-btn-container {
    // margin-inline-start:1rem ;
    button {
        @include defButton;
        width:250px;
        margin-inline-end:1rem ;
    }
}



//if we would like to use varousel here later :)
.Carousel-root-1{
    .Carousel-indicators-2 {
        // display: none;
    }
    .Carousel-buttonWrapper-5{
        button{
            background-color:hidden ;
            width: rem(15px);
            background-color: none !important;
            border-radius: none !important;
            span{
                width: 20px;
            }
            .MuiSvgIcon-root{
                // color: black;
            }
        } 
    }
}