.gig-list {
    // color: aqua;
    
    ul {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        li {
            width: 180px;
            border: 1px solid $altColor;
        }
    }
}