.gig-details {
    font: 400 16px/24px "Macan", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: grid;
    grid-template-columns: 8fr 2fr;
    color: $darkColor;
    padding: 1rem;
    .main-details {
        margin-right: 20px;
        width: 80%;
        display: flex;
        flex-direction: column;
        > * {
            width: 100%;
            outline: none;
        }
        h1 {
            text-align: start;
            font-size: 28px;
            line-height: 130%;
        }
    }
    ::selection {
        background: $altColor;
    }
}

.desc {
    margin-block-start: 1rem;
    h4 {
        display: flex;
        flex-wrap: wrap;
    }
}

.short-review-header {
    margin-block-start: 3.5rem;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 25px;
}

.seller-stars-container {
    .seller-star {
        color: $starsColor;
        font-size: 2rem;
    }
    div {
        align-self: center;
        margin-block-start: 7.5px;
    }
}

.cut-text {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 42rem;
    white-space: nowrap;
}

.text-with-dots {
    display: block;
    max-width: 98%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.short-review-main {
    position: relative;
    // width: 750px;
    overflow: hidden;
    .slide-left-review {
        position: absolute;
        left: -5px;
        top: 50%;
    }
    .slide-right-review {
        position: absolute;
        right: -5px;
        top: 50%;
    }
    .slide {
        width: 750px;
        transition: ease 0.8s;
        .short-review {
            position: relative;
            h5 {
                margin: 0;
                margin-inline-end: 0.5rem;
            }
            .avatar-container {
                margin-block-start: 1rem;
                margin-inline-end: 0.7rem;
            }
            span {
                margin-block-end: 1rem;
            }
        }
    }
}

.add-remove-btn-container {
    padding: 1rem;
    button {
        margin-inline-end: 0.5rem;
        background-color: $boldColor;
        color: $lightColor;
        width: 20%;
        display: inline-block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        padding: 12px 24px;
        border: 1px solid transparent;
        border-radius: 4px;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        -webkit-transition: 0.15s ease-in-out;
        -o-transition: 0.15s ease-in-out;
        transition: 0.15s ease-in-out;
        &:hover {
            background-color: $darkColor;
        }
    }
}
