.gig-edit {

    margin-top: 20px;
    .gig-save {
        width: 150px;
        margin-bottom: 20px;
        @include defButton()
    }

    form {
        width: 50vw;

        h4 {
            color: $darkColor;
            margin: 5px 0 5px;
        }

        .package-features {

            ul {
                margin-inline-start: 20px;
            }
            li {
                background-color: $altColor;
                color: $darkColor;
                font-size: 0.8rem;
                padding: 5px 8px;
                border-radius: 0.55em ;
                margin-inline-end: 10px;
                margin-bottom: 20px;
                align-self: baseline;
            }
        }
    }


    textarea, select, input {
        padding: 10px;
        margin-bottom: 20px;
    }
    textarea {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        outline: none;
        resize: none;
    }
    input, select {
        margin-bottom: 20px;
        width: 25vw;
    }
}