.gig-preview {
    
    color: $darkColor;

    h2 {
        padding-inline-start: 5px;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.3em;
        height: 2.8em;
        overflow: hidden;
    }

    .gig-preview-bottom {
        border-top: 1px solid $altColor;
        background-color: #fff;
        
        h3 {
            padding-inline-start: 5px;
            font-weight: normal;
            font-size: 0.9em;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
            span {
                color: $boldColor;
                font-weight: bold;
            }
        }
    }
    
    a {
        text-decoration: none;
    }

    img {
        width: 100%;
        height: 50%;
        object-fit: cover;
    }
}