.preview-item {
    width: 25%;
    padding: 10px;


    @media screen and (max-width: $mediumLayout) {
        width: 33.3%;
    }
    @media screen and (max-width: $smallLayout) {
        width: 50%;
    }
    @media screen and (max-width: $mobileLayout) {
        width: 100%;
    }
    a, a:visited {
        color: initial;
        text-decoration: none;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 1;
        transition: .2s;
    }

    .preview-inner {
        background-color: #fdfdfd;
        .preview-top {
            background: #000;
            width: 100%;
            height: 23vmin;
            @media screen and (max-width: $smallLayout) {
                height: 33vmin;
            }
            @media screen and (max-width: $mobileLayout) {
                height: 60vmin;
            }
            &:hover img {
                opacity: 0.7;
            }
        }
        .preview-center {
            padding: 15px;
            h2 {
                color: $darkColor;
                font-size: 1.1rem;
                font-weight: normal;
                line-height: 1.3em;
                height: 2.7em;
                margin-bottom: 0px;
                overflow: hidden;
                transition: .15s;
        

                &:hover {
                    color: lighten($boldColor, 10);
                }
            }
            .gig-rating {
                padding: 0;
                margin: 0 0 25px -5px;
                color: $starsColor;
                span {
                    display: inline-block;
                    margin-top: 2px;
                    margin-inline-start: 5px;
                    font-size: 0.8rem;
                    font-weight: bold;
                }
            }
            .gig-owner {
                p {
                    color: $darkColor;
                    margin: 5px 0px;
                    font-size: 0.8em;

                    &:first-of-type {
                        font-weight: bold;
                    }
                }

            }
        }
        .preview-bottom {
            border-top: $softColorBorder;
            h3 {
                color: $darkColor;
                margin: 0;
                padding: 10px;
                font-size: 0.9em;
                font-weight: normal;
            }
            span {
                color: $boldColor;
                font-weight: bold;
            }

            .heart {
                color: $darkColor;
                margin-top: 6px;
                margin-inline-start: 10px;
                transition: .2s;
                &:hover {
                    color: darken($darkColor, 10);
                }
            }

            .liked {
                color: rgb(245, 41, 75);
                &:hover {
                    color: darken(rgb(245, 41, 75), 10);
                }
            }
        }
    
    
    }
}