.img-details-conatiner {
    height: 26.6rem;
    position: relative;
    .full-screen-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2rem;
        color: white;
        background-color: rgba(0, 0, 0, 0.411);
        box-sizing: content-box;
        padding: 3px;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
            background-color: rgb(34, 34, 34);
            transform: scale(1.1);
            transition: all 0.1s ease;
        }
        &::after {
            content: "Full Screen";
        }
    }
}

.imgs-gallery-container {
    height: 80px;
    margin-top: 10px;
    .img-gallery {
        width: 100px;
        margin: 0 5px;
        cursor: pointer;
        opacity: 0.3;
        &.active {
            opacity: 1;
        }
    }
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

