.review-stats-container {
    .progress-bar-container {
        width: 200px;
        padding: 10px 10px 0 6px;
        margin: auto;
        .fit-progressbar-background {
            width: 100%;
        }
    }
}
