.seller-img-container {
    width: 160px;
    margin-inline-end: 3rem;
    img {
        width: 64%;
        height: 55%;
        object-fit: cover;
        border-radius: 50%;
    }
}

.seller-avatar {
    // font-size: 5rem !important;
}

.seller-stats {
    font-size: 1rem;
    margin-block-start: 2rem;
    border: 1px solid #dadbdd;
    padding: 1rem;
    .user-stats {
        div {
            flex-grow: 1;
            padding: 0.5rem;
        }
        border-bottom: 1px solid grey;
    }
    .bold{
        display: block;
        padding-top: 4px;
        color: #62646a;
        // margin: 0;
        padding-block-start:0 ;
        padding-block-end:1rem ;
    }
}
