.sidebar {
    padding: 1.25rem;
    background-color: white;
    // min-width: 400px;
    // max-height: 380px;
    height: -webkit-fill-available;
    padding-block-end:3rem ;
    position: sticky;
    border: 1px solid rgb(202, 202, 202);
    top: 3rem;
    h3 {
        font-size: 16px;
        margin-block-end: 2rem;
    }
    .delivery {
        margin-inline-end: 0.9rem;
    }
    .revisions {
        margin-bottom: 10px;
    }
    .features {
        margin-block-start: 0.6rem;
        color: #62646a;
    }
}

.btns-container {
    margin-block-start: 2rem;
    .continue {
        background-color: $boldColor;
        color: $lightColor;
        width: 100%;
        display: inline-block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        padding: 12px 24px;
        border: 1px solid transparent;
        border-radius: 4px;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        -webkit-transition: 0.15s ease-in-out;
        -o-transition: 0.15s ease-in-out;
        transition: 0.15s ease-in-out;
        &:hover{
            background-color: $darkColor;
        }
    }
}

.icons {
    font-size: 14px;
    color: rgb(97, 97, 97);
    font-weight: bold;
    .clock {
        align-self: center;
        margin-inline-end: 0.5rem;
    }
    .loop {
        align-self: center;
        margin-inline-end: 0.3rem;
    }
}

.include {
    margin-inline-end: 0.5rem;
    color: #1dbf73;
    font-weight: bold !important;
}
