* {
    box-sizing: border-box;
}

body {
    background-color: $lightColor;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}
.main-layout {
    max-width: 800px;
    margin: 0 auto;
}