* {
    box-sizing: border-box;
}

::selection {
    background-color: red;
    color: $lightColor;
}

body {
    background-color: $lightColor;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

#root.darkened .main-screen {
    visibility: visible;
    opacity: 1;
}

.main-layout {
    // max-width: 1400px;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 0.6rem;
    padding-right: 0.6rem;

    @media screen and (min-width: $smallLayout) {
        max-width: $smallLayout;
    }
    @media screen and (min-width: $mediumLayout) {
        max-width: $mediumLayout;
    }
    @media screen and (min-width: $wideLayout) {
        max-width: $wideLayout;
    }

    // @media screen and (min-width: $mobileLayout) {
    //     max-width: $mobileLayout;
    // }

}
