$lightColor: rgb(255, 255, 255);
$darkColor: rgb(34, 35, 37);
$altColor: rgb(122, 125, 133);
$boldColor: rgb(43, 190, 118);
$starsColor: rgb(254, 190, 45);

$headerColor: rgb(122, 125, 133);
$borderColor: rgb(228, 229, 231);
$iconsColor: rgb(181, 182, 186);
$ctgColor: rgb(64, 65, 69);
$titleColor: rgb(34, 35, 37);
$priceColor: rgb(85, 85, 85);
$greenColor: rgb(43, 190, 118);


$border: 1px solid $borderColor;

$wideLayout: 1040px;
$mediumLayout: 860px;
$smallLayout: 600px;
$mobileLayout: 500px;