// $lightColor: rgb(252, 241, 241);
// $darkColor: rgb(26, 28, 32);
// $altColor: rgb(254, 213, 206);
// $boldColor: rgb(247, 129, 68);
// $starsColor: rgb(253, 190, 44);
$lightColor: rgb(252, 248, 237);
$darkColor: rgb(70, 98, 104);
$altColor: rgb(209, 232, 241);
$boldColor: rgb(122, 163, 176);
$starsColor: rgb(253, 190, 44);

$softColorBorder: 1px solid $altColor;

$wideLayout: 1040px;
$mediumLayout: 860px;
$smallLayout: 600px;
$mobileLayout: 500px;